<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

     <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
     <link href="css/creative.min.css" rel="stylesheet">
 
     <!-- Custom fonts for this theme -->
     <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
 
     <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
 
     <!-- Theme CSS -->
     <link href="css/freelancer.min.css" rel="stylesheet">
 
     <link rel="stylesheet" href="/assets/css/paper-dashboard.css">
 
     <link rel="shortcut icon" href="../img/favicon.png">
 
     <title>e-Market</title>
 
     <style>
        /* Set the size of the div element that contains the map */
       #map {
         height: 400px;  /* The height is 400 pixels */
         width: 92%;  /* The width is the width of the web page */
         margin: 4%;
         border: 1px solid black;
         border-radius: 10px;
        }
     </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning shadow p-3 mb-5">
      <a class="navbar-brand logo" href="/"><img src="img/emarket.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link medium" href="/">Home<span class="sr-only">(página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista">Gerar lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastrar">Cadastre-se</a>
          </li>
          <% if(logado == 1 || logado == 2 || logado == 3){ %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
          <% }else if(logado == 0 || (typeof logado === "undefined")){ %>
            <li class="nav-item">
            <a class="nav-link" href="/logar">Login</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/reclamacao">Reclamações</a>
          </li>
        </ul>
      </div>
    </nav>
    <header >
      
    </header>
    <main>
      <section class="page-section portfolio" id="portfolio">
        <div class="container">
    
          <!-- Portfolio Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-danger mb-0">SONDA</h2>
    
          <!-- Icon Divider -->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
          </div>
    
          <!-- Portfolio Grid Items -->
          <div class="row">
    
            <!-- Portfolio Item 1 -->
            <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/historia.png" alt="">
              </div>
            </div>
    
            <!-- Portfolio Item 2 -->
            <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/loja.png" alt="">
              </div>
            </div>
    
            <!-- Portfolio Item 3 -->
            <div class="col-md-6 col-lg-4">
              <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="img/portfolio/contato.png" alt="">
              </div>
            </div>
    
          </div>
          <!-- /.row -->
    
        </div>
      </section><!-- details card section starts from here -->
      <!--<div id="map"></div>-->
      <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -23.4095288, lng: -46.8488397};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 18, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    </main>

    <footer class="bg-warning py-5">
    <div class="container">
      <div class="medium text-center text-white">Copyright &copy; 2019 - Arthur Tavares, Caio Zanqueta e Denise dos Santos</div>
    </div>
  </footer>

    <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times text-danger"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-danger text-uppercase mb-0">História</h2>
                  <!-- Icon Divider -->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="img/portfolio/thumbnails/2.png" alt="">
                  <!-- Portfolio Modal - Text -->
                  <p class="mb-5">A história do Sonda Supermercados tem origem em Erval Grande (RS), no início dos anos 1960, quando a família Sonda comercializava produtos alimentícios, tecidos e implementos agrícolas, que abasteciam os agricultores da região Sul do Brasil.</p>
                  <p class="mb-5">Em 1974, a família Sonda inaugurou seu primeiro supermercado, na cidade de Erechim (RS) e seis anos depois foi a vez da segunda loja, em São Paulo (SP), no bairro do Jaçanã. Graças à visão empreendedora da família, a empresa obteve sólido crescimento e, em pouco tempo, o Sonda tornou-se a quinta maior rede de supermercado do Estado de São Paulo.</p>
                  <p class="mb-5">No ano de 2006, a empresa inaugurou um Centro de Distribuição com 208 mil metros quadrados, às margens da Via Anchieta</p>
                  <p class="mb-5">Em 2018 contamos com mais duas inaugurações; Rudge Ramos e São Caetano do Sul. Neste mesmo ano houve a troca de bandeira da loja Cobal Guarulhos para Sonda Vila Galvão. Com isso, o Grupo Sonda encerrou o ano com 36 lojas, sendo uma delas 24 horas: Tatuapé.</p>
                  <button class="btn btn-warning" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Fechar Janela
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times text-danger"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-danger text-uppercase mb-0">Localização</h2>
                  <!-- Icon Divider -->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image -->
                  <img class="img-fluid rounded mb-5" src="img/portfolio/thumbnails/2.png" alt="">
                  <!-- Portfolio Modal - Text -->
                  <div id="map"></div>
                  <button class="btn btn-warning" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                    Fechar janela
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times text-danger"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title -->
                  <h2 class="portfolio-modal-title text-danger text-uppercase mb-0">Contato</h2>
                  <!-- Icon Divider -->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image -->
                  <!-- Portfolio Modal - Text -->
                  <p class="mb-5"><b>Endereço:</b> Avenida Ten. Marquês, 2805 - Polvilho, Cajamar - SP, 07790-740 <br>
                    <b>Horário:</b> Aberto ⋅ Fecha às 22:00 <br>
                    <b>Telefone:</b> (11) 4498-3794.</p>
                  <button class="btn btn-warning" href="#" data-dismiss="modal">
                    <i class="fas fa-times fa-fw"></i>
                   Fechar Janela
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
  
    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/moment.min.js"></script>

<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>

<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>

<!-- Control Center for Paper Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/paper-dashboard.js?v=2.0.0" type="text/javascript"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/demo/js/demo.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB89bPDUjyWeTlfjKjehw18cMtR6iBec-o&callback=initMap"
  type="text/javascript"></script>
  </body>
</html>